@import "compass/reset";
@import "compass/css3";

body {
	font-family:"europa";
}

.center-container {
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}

.opt-block {
    display: inline-block;
    padding: 5%;
}

.logo {
    font-size: 3em;
    color: #DEA126;
}


li {
	float:left;
	width: 32%;
 	border: solid 0.1em #91AD3D;
  	margin: 0.5%;
}

img {
	height:100%;
	width:100%;
}

ul {
	overflow:hidden;
}